[submodule "sqsh-sys/submodules/sqsh-tools"]
	path = sqsh-sys/submodules/sqsh-tools
	url = https://codeberg.org/Gottox/sqsh-tools.git
[submodule "sqsh-sys/submodules/cextras"]
	path = sqsh-sys/submodules/cextras
	url = https://codeberg.org/Gottox/cextras.git
